<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263169181079-f9t7uci8duq2a0te8ofj31vm2f1mt6tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263169181079-f9t7uci8duq2a0te8ofj31vm2f1mt6tj</string>
	<key>API_KEY</key>
	<string>AIzaSyC6N6U0oC6fXY3i1OYXxzb9abs6i7f9DOU</string>
	<key>GCM_SENDER_ID</key>
	<string>263169181079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KovalskyVK.JokesApp</string>
	<key>PROJECT_ID</key>
	<string>jokeapp-9bcea</string>
	<key>STORAGE_BUCKET</key>
	<string>jokeapp-9bcea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263169181079:ios:36386b48bcc678526670d2</string>
</dict>
</plist>